html,
body,
#root {
  height: 100%;
}

.cursor-pointer {
  cursor: pointer !important;
}

.sr-only, .visually-hidden {
  display: none !important;
}

.input-group-text{
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.mt-6 {
  margin-top: 4rem !important;
}

.my-6 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}